@import "variables.module";

.container {
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-blue-color;
  height: 100vh;
  width: 100vw;
  //max-height: 100%;
  //max-width: 100%;
  //margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.logo_image {
  width: 130px;
  height: 130px;
  max-width: 100%;
}

@mixin _logo_text() {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.logo_text {
  @include _logo_text();
  font-size: 42px;
}

.header {
  background-color: $primary-blue-color;
}

.homeButton {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
}

.homeButton_image {

}

.homeButton_text {
  font-weight: bold;
  font-size: 1.8em;
  margin: 0 10px;
  color: white;
  display: inline;
}

.searchBar {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 100px;
  width: min(900px, 85vw);
  padding-left: 20px;
  height: 60px;
  background-color: white;
}

.searchBar_text {
  border: none;
  background-color: transparent;
  padding-left: 10px;
  font-size: 1.2em;
  font-weight: bold;
  width: 50%;

  &:focus {
    outline: none;
  }
}

@mixin searchBar_icon() {
  font-size: 30px;
  align-self: center;
  justify-self: center;
}

.searchBar_icon___empty {
  @include searchBar_icon();
  color: grey;
}

.searchBar_icon___filled {
  @include searchBar_icon();

  &:hover {
    cursor: pointer;
  }
}

.invalidMsg {
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  margin: max(20px, 5vh);
  color: white;
  line-height: 2;
}

@media (max-width: 800px) {
  .logo_image {
    width: 100px;
    height: 100px;
  }

  .logo_text {
    @include _logo_text();
    font-size: 35px;
  }

  .invalidMsg {
    font-size: 1.2em;
  }

  .searchBar_icon___empty {
    @include searchBar_icon();
    color: grey;
  }

  .searchBar_icon___filled {
    @include searchBar_icon();
  }
}
